[Desktop Entry]
Version=1.0.0
Name=giraffe
GenericName=giraffe
Comment=Wallet for Giraffe Chain
Terminal=false
Type=Application
Categories=Utility;
Keywords=Flutter;
Icon=giraffe.png
