[Desktop Entry]
Version=1.0.5
Name=giraffe
GenericName=giraffe
Comment=Giraffe Chain Frontend
Terminal=false
Type=Application
Categories=Utility;
Keywords=Blockchain;
Icon=giraffe.png
