name: Push

on:
  push:
    branches:
      - "main"

jobs:
  build:
    uses: ./.github/workflows/_build.yml
  publish-docker-images:
    uses: ./.github/workflows/_docker_publish.yml
    needs: [build]
    secrets: inherit
    with:
      dev_tag: true
      latest_tag: false
