name: Release

on:
  push:
    tags:
      - "v**"

jobs:
  build:
    uses: ./.github/workflows/_build.yml
  create-release:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
  publish-docker-images:
    uses: ./.github/workflows/_docker_publish.yml
    needs: [create-release]
    secrets: inherit
    with:
      dev_tag: false
      latest_tag: true
